/me433_hw4.X/nbproject/private/
/me433_hw3.X/nbproject/private/
/me433_hw3.X/build/default/
/me433_hw3.X/dist/default/
/me433_hw2.X/nbproject/private/
/me433_hw5.X/nbproject/private/
/me433_hw1.X/nbproject/private/
/me433_hw1.X/build/default/
/me433_hw5.X/build/default/
/me433_hw5.X/dist/default/
/test.X/nbproject/private/
/test.X/build/default/
/test.X/dist/default/